{% extends 'index.html' %}
{% block title %}APP{% endblock %}

{% block main %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">App</h1>

      {% for app_name, model_obj in site.enabled_admins_dict.items %}
        <table class="table table-striped">
          <thead>
            <tr>
                <th><h3>{{ app_name }}</h3></th>
            </tr>
          </thead>
          <tbody>
            {% for model_name in model_obj %}
              <tr>
                <td><a href="{% url 'models_data' app_name model_name %}">{{ model_name }}</a></td>
                <td>
                  <a class="btn btn-primary btn-xs">
                    <i  class="fa fa-pencil-square-o" aria-hidden="true">添加</i>
                  </a>
                  |
                  <a class="btn btn-primary btn-xs" href="#">
                    <i class="fa fa-pencil-square-o" aria-hidden="true">修改</i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>
{% endblock %}